<!DOCTYPE html>
<html>
    <head>
        <title>AI Resume Analyser</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <span class="navbar-brand">AI Resume Analyser</span>
            </div>
        </nav>
        <div class="container mt-5">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h3>upload your Resume</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted">upload your resume (PDF) and get an instant AI-powered score with feedback</p>

                    <form action="/analyse" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label">Upload Resume:</label>
                            <input type="file" class="form-control" name="resume" accept=".pdf" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Analyze Resume</button>
                    </form>
                </div>    
            </div>
        </div>
    </body>
</html>